/* General Styles */
body {
  background-color: #f8f7ff;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: #5e56e7;
  font-size: 48px;
  margin: 20px 0;
}

/* Container for the Genre Buttons */
.genre-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  justify-items: center;
  margin: 0 auto;
  max-width: 900px;
}

/* For larger screens (desktops), two buttons per row */
@media screen and (min-width: 768px) {
  .genre-buttons {
    grid-template-columns: 1fr 1fr; /* Two columns for larger screens */
  }
}

/* Genre Button Styles */
.genre-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #f0f0f6;
  box-shadow: 0 2px 5px rgba(211, 209, 238, 0.5);
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  max-width: 300px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* For larger screens (desktops), two buttons per row */
@media screen and (min-width: 1024px) {
  .genre-button {
    max-width: 400px; /* Two columns for larger screens */
  }
}

.genre-button:hover {
  background-color: #f8f7ff;
}

.genre-button img.genre-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.genre-button img.next-icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.genre-icon-group {
  display: flex;
}

.intro {
  max-width: 340px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .intro {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 700px;
  }
}

/* Books page css */

.book-page .genre {
  font-size: 24px;
}

@media screen and (min-width: 1024px) {
  .book-page .genre {
    font-size: 48px;
  }
}

.book-link {
  text-decoration: none;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(211, 209, 238, 0.5);
  text-align: center;
  min-height: 250px;
}

.book-image {
  height: 162px;
  width: 114px;
}

.book-title {
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.book-author {
  font-size: 12px;
  color: #a0a0a0;
}

.back-icon {
  margin: 0 20px;
  cursor: pointer;
}

.search-bar {
  background-color: #f0f0f6;
  display: block;
  margin: 0 20px;
  padding: 10px;
  width: 80%;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  .search-bar {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .search-bar {
    width: 95%;
  }
}

/* No Results Found Styles */
.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.no-results-image {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.no-results-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #a0a0a0;
}

/* Loader Container */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Spinning Loader */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
